#!/bin/bash

#### General Shortcuts ####

ali=/Users/az/.aliases
alias sl="ls"
alias ls='ls -F -h --color=always -v --author --time-style=long-iso -C "$@" --group-directories-first'
alias ll='ls -Al'
alias ldir="ls -dl .*/ */"
alias dirs="dirs -v"
alias irb="pry"
alias be="bundle exec"
alias cat="ccat -G Decimal="darkteal" -G Plaintext="darkgreen""
alias ber="bundle exec rspec"
alias u="cd ..; ll"
alias nd="cd -"
alias hist="history"
alias clear_history='echo "" > ~/.zsh_history & exec $SHELL -l'
alias sor="exec zsh"
alias spn="spotify next"
alias spv="spotify prev"
alias spp="spotify pause"
alias diff="diff --color"
# Make LESS display file contents inline if page size is only one screen
alias less="/usr/local/bin/smartless -N"
alias find="fd"
alias grep="rg -S"
alias chromedev="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --user-data-dir=/tmp/chrome-debug &"
alias tree="tree -a --dirsfirst -I 'node_modules|dist*|public|.git|.direnv.d|build' -L 2"
alias fix-audio="pgrep coreaudiod | xargs sudo kill"
alias npm="pnpm"
alias c.="code ."

#### git variables ####
gs_message="\n\033[0;34m╭───────────────── git status ─────────────────╮\033[0m\n"

#### git shortcuts ####
alias gds="git diff --staged"
alias grao="git remote add origin"
alias gs='git status --short'
alias glgn="git log --stat -n 1"
alias glgpn="git log --stat -p -n 1"
