# ----------------------
# Bash Functions
# ----------------------

# Create a directory and cd into it
function mkcd () {
  mkdir "$1"
  cd "$1"
}

# cd into directory and list contents
function cl () {
  cd "$1"
  ll
}

# Display folder contents after removing files
function rml () {
  rm "$1" "$2"
  ll
}

# Repeat any command every second
function repeat_command() {
  while [ 0 ]
  do "$@"
  sleep 1
  done
}

# Launch Creative Coding server with a specific files
function creative-coding-start() {
  cd $HOME/Programming/frontend-masters-courses/creative-coding
  ./node_modules/canvas-sketch-cli/src/index.js --open "$1" --output ./saved-images &
  cd ..
}

# ----------------------
# Git Functions
# ----------------------

# Git log find by commit message
function glf() { git log --all --grep="$1"; }

# Git add local files and display status
function ga. () {
  git add .
  echo -e $gs_message
  git status
}

# Git pull and display status
function gpl () {
  git pull
  echo -e $gs_message
  git status
}

# make `g` behave like `git status` with no args, or `git` with args
function g () {
  if [ $# -eq 0 ]
  then
    echo -e $gs_message
    git status
  else
    git "$@"
  fi
}
# __git_complete g _git

# make a git function to commit and display status
function gcms () {
  git commit -m "$1"
  echo -e $gs_message
  git status
}
