[alias]
	a = add
	aa = add --all :/
	alias = config --get-regexp ^alias\\.
	b = branch
	ci = commit
	co = checkout
	d = diff --ignore-space-change
	l = log --pretty=format:\"%C(green)%h%C(reset) %C(blue)%ad%C(reset) %s%C(yellow)%d%C(reset) %C(blue)[%an]%C(reset)\" --graph --date=short
	s = status
	r = remote
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = code --wait
	pager = /usr/local/bin/smartless
[push]
	default = simple
[user]
	name = Americo
	email = ame.zuz@gmail.com
	signingkey = 20B4E0C72E63AE99
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = false
