[alias]
	a = add
	aa = add --all :/
	alias = config --get-regexp ^alias\\.
	b = branch
	ci = commit
	co = checkout
	d = diff --ignore-space-change
	l = log --pretty=format:\"%C(green)%h%C(reset) %C(blue)%ad%C(reset) %s%C(yellow)%d%C(reset) %C(blue)[%an]%C(reset)\" --graph --date=short
	s = status
	r = remote
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore
	editor = vim 
	pager = bat
	autocrlf = false
	safecrlf = true
[push]
	default = simple
[user]
	name = Americo
	email = americo.zuzunaga@dailykos.com
	signingkey = C234DC353CA3505B
[credential]
	helper = osxkeychain
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true
[rerere]
	enabled = true
[protocol]
	version = 2
[gpg]
	program = /usr/local/bin/gpg
[merge]
	conflictstyle = diff3
